version: "3.7"

services:

    test:
        environment:
            EDM_URL: http://edm.example.com
            CLIENT_ID:
            CLIENT_SECRET:
            CLIENT_ID_USER:
            CLIENT_SECRET_USER:
            USER_LOGIN: john.doe@example.com
            USER_PASSWORD:
